:root {
  --highlight-background-color: aliceblue;
  --description-background-color: lightgray;
  --status-background-color: #e66c6c;
}

body {
  color: black;
  background-color: white;

  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

canvas {
  background: lightgray;
  width: 100%;
  margin: 0 auto;
  /* round border */
  border-radius: 2px;
}

.equation {
  text-align: center;
}


.main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: column;
}

.model {
  background-color: var(--highlight-background-color);
  border-radius: 2px;
}

.input {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.input .input_block {
  width: 100%;
  margin: 0 auto;
  resize: none;
  border: 0px;
  padding: auto;
}

.input .label {
  background-color: var(--description-background-color);
  border-radius: 2px;
}

.controls {
  /* background: gray; */
  width: 100%;
  margin: 0 auto;
  /* wrap */
  display: flex;
}

.control_line {
  top: 0px;
  left: 0px;
  width: 100%;
  /* height: 30px; */
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 100;
  display: block;
}

.status {
  background-color: var(--status-background-color);
  padding-left: 1rem;
  border-radius: 2px;
}

.control_line input[type="text"] {
  width: 10%;
  /* padding: 0px; */
  /* margin: 0px; */
  /* border: 2px; */
  /* background: transparent; */
  color: black;
  /* font-size: 20px; */
  text-align: center;
}

.button {
  align-items: center;
  vertical-align: top;
  appearance: button;
  background-color: #0276FF;
  border-radius: 2px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  /* line-height: .8; */
  margin: 0;
  padding: 10px 21px 10px 21px;
  text-align: center;
  text-transform: none;
  font-weight: bold;
  transition: color .01s ease-in-out, background .01s ease-in-out, opacity .01s ease-in-out, box-shadow .01s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  background-color: #006AE8;
}

.button:hover {
  background-color: #1C84FF;
}

.button:disabled {
  background-color: #B3B3B3;
  color: #fff;
  cursor: default;
}

.results {
  background: var(--status-background-color);
  width: 100%;
  margin: 0 auto;
  /* wrap */
  display: flex;
  padding-left: 1rem;
  border-radius: 2px;
}


#forkongithub a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}

#forkongithub a:hover {
  background: #c11;
  color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width:800px) {
  #forkongithub {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }

  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}